<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
  	<ReferencePath>z:\Steam\steamapps\common\BATTLETECH\BattleTech_Data\Managed\</ReferencePath>
  </PropertyGroup>
</Project>
